html, body {
    background-color: #F1EDE6;
    margin: 0;
    overflow: hidden;
}

header {
    height: 65px;
    width: 100vw;
    background-color: #3A2D28;
    display: flex;
    padding: 0 20px;
}

.header-title,
.header-extra {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-title {
    justify-content: flex-start;
}

.header-extra {
    justify-content: flex-end;
    margin-right: 40px;
}

.header-title, .header-extra a {
    display: flex;
    align-items: center;
}

header img {
    height: 45px;
    width: 45px;
}

header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    color: white;
    margin: 0;
}
